body {
    background-color: #ffd700
}

.circle3 {
    box-sizing: border-box;
    width: 430px;
    height: 430px;
    border-radius: 50%;
    text-align: center;
    padding-top: 90px;
    background-color: #ffffff;
    position: absolute;
    top: 150px;
    left: 50%;
    margin-left: -250px;
    color: #8b4513;
}
.circle3 .pp{width: 250px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;

}
.circle1 {
    box-sizing: border-box;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    padding-top: 20px;
    text-align: center;
    position: absolute;
    top: -20px;
    left: 350px;
    color:#ffff00;
    background-color: #ff4500}

.circle2{
	box-sizing: border-box;
    width: 260px;
    height: 260px;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    top: 300px;
    left: 260px;
    background-color: #a0522d;
    color:#ffffff
    
}
.circle2 table{
	margin-left: auto;
	margin-right:auto;
	margin-top: 30%;
	
}
.circle4 {
	box-sizing: border-box;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding-top: 30px;
    text-align: center;
    position: absolute;
    top: 150px;
    left: 70%;
    background-color: #ffffff;
}
.circle5{
	box-sizing: border-box;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding-top: 10px;
    text-align: center;
    position: absolute;
    top: 500px;
    right: 20%;
    background-color: #a0522d;
    color:#ffffff;
}

.circle6{
	box-sizing: border-box;
	width: 170px;
	height: 170px;
	border-radius: 50%;
	text-align: center;
	padding-top: 55px;
	position: absolute;
	top:600px;
	right: 55%;
	background-color: #ff4500;
	color:#ffff00;

}